.paste-form {
  position: relative;
  width: 100%;
  min-height: fit-content;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 16px;
  padding-bottom: 12px;
}

.line-numbers,
.paste-input,
.paste-display {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 1.0rem;
  line-height: 1.5rem;
  font-family: 'Roboto Mono', monospace;
  color: $colour-text--light;
}

.line-numbers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: fit-content;
  text-align: end;
  color: $colour-text--dark;
  text-shadow: 0 0 .25rem $colour-text--darkest;
  min-height: 100%;
}

.paste-input {
  width: 100%;
  background-color: transparent;
  resize: none;
  border: none;
  outline: none;
  text-shadow: 0 0 .25rem $colour-text--darkest;
  display: inline-block;
  overflow: hidden;
  min-height: 100%;
}

.paste-display {
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
}
