.ember-tooltip {
  background-color: $colour-bg--dark;
  border-radius: 6px;
  box-shadow: 0 0 0.5rem rgba($colour-text--darkest, 0.6);
}

.ember-tooltip-arrow {
  [x-placement^="left"] & {
    border-left-color: $colour-bg--dark !important;
  }
  [x-placement^="right"] & {
    border-right-color: $colour-bg--dark !important;
  }
  [x-placement^="top"] & {
    border-top-color: $colour-bg--dark !important;
  }
  [x-placement^="bottom"] & {
    border-bottom-color: $colour-bg--dark !important;
  }
}

.ember-tooltip .ember-tooltip-inner {
  color: $colour-text--light;
  font-size: 0.9rem;
}
