// Colours
$colour-bg--dark: #00002a;
$colour-bg--light: #00004c;
$colour-text--dark: #a4a4bd;
$colour-text--darker: #9191a8;
$colour-text--darkest: #73738d;
$colour-text--light: #d0d0fa;
$colour-text--lighter: #fafafa;
