$shadow-size-map: (
    'default': 0 0 14px 0,
    'xsmall': 0 0 6px -4px,
    'small': 0 0 12px -2px,
    'medium': 0 0 14px 0,
    'large': 0 0 18px 0,
    'xlarge': 0 0 22px 0,
  );
$border-size-map: (
    'default': 8px,
    'small': 4px,
    'medium': 8px,
    'large': 14px,
    'full': 1000px,
    'none': 0,
  );
$edge-map: (
    'top': ('top-left', 'top-right'),
    'right': ('top-right', 'bottom-right'),
    'bottom': ('bottom-left', 'bottom-right'),
    'left': ('top-left', 'bottom-left'),
    'top-left': 'top-left',
    'top-right': 'top-right',
    'bottom-left': 'bottom-left',
    'bottom-right': 'bottom-right',
  );
