<div class="buttons-wrapper">
	<a href="/" class="logo nosel"><i>min</i>Bin</a>
	<div class="buttons">
		<a href="/new" class="btn" aria-label="New paste" title="New paste"><i class="fas fa-plus"></i></a>
		<% if (locals.saveable) {%>
		<button class="btn" type="submit" aria-label="Save paste" title="Save paste"><i class="fas fa-save"></i></button>
		<% } %>
		<% if (locals.id != null) {%>
		<a href="/<%= locals.id %>/new" class="btn" aria-label="Duplicate paste" title="Duplicate paste"><i class="fas fa-copy"></i></a>
		<a href="/<%= locals.id %>/raw" class="btn" aria-label="View raw" title="View raw"><i class="fas fa-code"></i></a>
		<% } %>
	</div>
</div>
