<!DOCTYPE html>
<html lang="en">
<%- include('_head.ejs', { title: 'New paste' }) %>
<body>
	<form id="input-form" action="/save" method="POST">
		<%- include('_actions.ejs', { saveable: true }) %>
		<div class="wrapper">
			<div class="line-numbers nosel">
				<div style="font-size:1.1rem;">></div>
			</div>
			<textarea autofocus name="value" id="input" spellcheck="false"><%= locals.content %></textarea>
		</div>
	</form>
</body>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/5.0.1/autosize.min.js" integrity="sha512-aBxhlAogg9r6Gtes+dsuqW6IQ4Ee0MtjexckbMNOVdxAfi5NSEd38BNEgFiaBWS6cl67r+8OImzxVKDdmswhnA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>autosize(document.querySelector('textarea'));</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/scripts.js"></script>
</html>
