/* Define some consts */
:root {
	--bg-dark: #00002a;
	--bg-lighter: #00004c;
	--text-even-darker: #73738d;
	--text-darker: #9191a8;
	--text-dark: #a4a4bd;
	--text-light: #d0d0fa;
	--text-lighter: #fafafa;
}

::selection {
	background: var(--text-dark);
}

html, body, pre {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}
pre, code {
	font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}

body {
	background-color: var(--bg-dark);
	color: var(--text-light);
}

.nosel {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.wrapper {
	display: flex;
	padding: 1rem .5rem;
	font-size: 1rem;
	line-height: 1.6rem;
}

#code-display {
	padding-top: 0;
	padding-bottom: 0;
	text-shadow: 0 0 .3rem var(--text-even-darker);
}

.line-numbers {
	font-size: 1rem;
	font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
	color: var(--text-dark);
	text-align: end;
	text-shadow: 0 0 .25rem var(--text-even-darker);
}

textarea {
	font-size: 1rem;
	color: var(--text-light);
	background-color: transparent;
	resize: none;
	width: 100%;
	padding: 0;
	margin: 0;
	margin-left: 1.16rem;
	min-height: calc(100vh - 2rem);
	border: none;
	outline: none;
	tab-size: 4;
	line-height: inherit;
	font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
	text-shadow: 0 0 .5rem var(--text-even-darker);
}

.buttons-wrapper {
	position: fixed;
	top: 0;
	right: 0;
	opacity: .75;
	transition: all 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
	background-color: var(--bg-lighter);
	padding: 1.5rem;
}
.buttons-wrapper:hover {
	opacity: 1;
}

.logo {
	font-family: 'Ubuntu Mono', 'Courier New', Courier, monospace;
	font-weight: 700;
	font-size: 2.5rem;
	text-align: center;
	text-decoration: none;
	color: var(--text-lighter);
	width: 100%;
	display: inline-block;
	transition: all 50ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.logo:hover {
	text-shadow: 0 0 .25rem var(--text-light);
}
.logo>i {
	font-weight: 500;
	font-style: italic;
	margin-right: .25rem;
}

.buttons {
	font-size: 1rem;
	display: flex;
	margin-top: .5rem;
	justify-content: center;
}

.buttons > * + * {
	margin-left: .5rem;
}

.btn {
	font-size: inherit;
	cursor: pointer;
	text-decoration: none;
	background: none;
	border: 1px solid var(--text-light);
	color: var(--text-light);
	border-radius: .1rem;
	padding: .25rem .5rem;
	transition: all 50ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.btn:hover {
	background-color: var(--text-light);
	color: var(--bg-dark);
	box-shadow: 0 0 .35rem var(--text-light);
}
