{{page-title "Error"}}

<RouteWrapper>
  <Actions::Box
    @mode="home"
    @fns={{hash
      create=(fn this.transitionTo "new")
    }}
  />

  <h1>Oops, something went wrong...</h1>
  <p>Sorry about that. Please try again.</p>
</RouteWrapper>
